---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
---

<header class="flex h-16 w-full items-center justify-center">
	<nav class="flex h-full">
		<div class="internal-links flex content-center space-x-6">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/designs">Designs</HeaderLink>
		</div>
	</nav>
</header>
